h1, h2 .h3, h4, h5, h6 {
    margin-top: 0;
}

/*
    2em --> 21.44px
    1.5em --> 19.92px
*/

.h1 {
    --font-size: 1em;  /* Ejemplo de declarar variables*/
    display: block;
    font-size: var(--font-size);
    font-weight: bold;
    margin-bottom: calc(var(--font-size) * 0.09);
}

p {margin-top: 0;}